In [1]:
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3
import numpy as np

# This cell is meant to import everything that I need in order for everything to work properly.

In [2]:
def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_887d5e2668c4464d879ae72973ea9811 = 'https://s3-api.us-geo.objectstorage.softlayer.net'
else:
    endpoint_887d5e2668c4464d879ae72973ea9811 = 'https://s3-api.us-geo.objectstorage.service.networklayer.com'

client_887d5e2668c4464d879ae72973ea9811 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='LsNvy4Esl6MJRzdcwyGXEDHhGRvFMWkmOi2VnAKwTkmU',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_887d5e2668c4464d879ae72973ea9811)

# This was to make sure that my files were being processed correctly

In [3]:

body = client_887d5e2668c4464d879ae72973ea9811.get_object(Bucket='tatariprep-donotdelete-pr-exwba0cwjeailk',Key='A.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()
# Ensuring that it read the Airings csv file correctly

,Company,Date/Time ET,Rotation,Creative,Network,Spend,Lift,Program
0,Company XYZ,10/30/17 22:50,MSNB Weekday Prime,ISCICODE0015H,MSNB,980.0,152,THE LAST WORD WITH LAWRENCE O'DONNEL
1,Company XYZ,10/30/17 22:27,HIST Everyday Prime (mirrored),ISCICODE0015H,HIST,1500.0,77,PAWN STARS
2,Company XYZ,10/30/17 21:42,TWC Everyday Prime,ISCICODE0015H,TWC,300.0,15,WEATHER HACKS
3,Company XYZ,10/30/17 21:17,MSNB Weekday Prime,ISCICODE0015H,MSNB,1020.0,123,THE RACHEL MADDOW SHOW
4,Company XYZ,10/30/17 20:28,MSNB Weekday Prime,ISCICODE0015H,MSNB,1020.0,121,ALL IN WITH CHRIS HAYES

In [4]:

body = client_887d5e2668c4464d879ae72973ea9811.get_object(Bucket='tatariprep-donotdelete-pr-exwba0cwjeailk',Key='LU.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()
# Ensuring that it read the Lookup csv file correctly

,Lookup table for survey response field to airings network ticker symbol,Unnamed: 1,Unnamed: 2
0,Exit Survey,Airings,Exit Survey
1,(blank),NaN,(blank)
2,aapka_colors,NaN,aapka_colors
3,baby_first,BABY,baby_first
4,bloomberg,BLOM,bloomberg

In [5]:

body = client_887d5e2668c4464d879ae72973ea9811.get_object(Bucket='tatariprep-donotdelete-pr-exwba0cwjeailk',Key='PES.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
df_data_3.head()
# Ensuring that it read the Purchase Exit Survey csv file correctly

,Unnamed: 0,Unnamed: 1,Submitted Application Timestamp,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
0,NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,September,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Source Category,Source,2,3.0,4.0,5.0,6.0,7.0,8.0,10.0,...,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0
4,tv_commercial,(blank),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [6]:
dfd1ns = df_data_1.groupby(['Network']).sum()
dfd1ns
# Wanted to see how much spend and lift for each network

              Spend  Lift
Network
BLOM        4966.72   199
CNBC        6481.42   406
CNBCWORLD   1299.99    51
CNN        18114.35  1081
COM         7501.25   108
DATELINE   15288.11   862
DISH        3033.33  1092
FS1         4258.50   183
HIST        7278.30   330
MSNB       11330.04  1123
NFLN        5412.80   200
OANN       24935.00  2372
SCI         7993.18   132
SPECSPTS    5580.26   220
STARPLUS   11780.56  1783
TNT         5125.50   179
TWC         7718.71   211
WILO       47734.57  8214
ZEETV      25604.25  1741

In [7]:
dfd1ns['Spend/Lift'] = dfd1ns['Spend']/dfd1ns['Lift']
dfd1ns['Spend/Lift/Month'] = dfd1ns['Spend/Lift']/2
# dfd1ns
# Creating the Spend/Lift and Spend/Lift/Month columns as this was for the months of September and October

In [8]:
dfd1c = df_data_1.groupby(['Network']).count()
# dfd1c

In [9]:
# df_data_1.groupby(['Company']).sum()
# Wanted to see how much money total was spent in total

In [10]:
# df_data_1.groupby(['Company']).count()
# Ensure every instance of an ad was accounted for

In [11]:
# df_data_3
prog = df_data_3[df_data_3.columns[1:2]]
# prog
# Getting rid of columns were not help to me.

In [12]:
pg = prog.iloc[4:]
df = df_data_3.sum(axis=1)
es = df.iloc[4:]
# Collected the number of purchases per network over the 2 month span while dropping rows that did not count properly

In [13]:
pes = pd.concat([pg, es], axis = 1)
pes = pes.rename(columns = {'Unnamed: 1': 'Source', 0: 'Purchases in 2 Month Span'})
# Combining prog and es to make a concise dataframe

In [14]:
pes['Average Purchases/Month'] = pes['Purchases in 2 Month Span']/2
# Since everything is meant to average out over time, I created the Average Purchases/Month to account for that

In [15]:
pes.index
prog_es = pes.reset_index()
survey = prog_es.drop(columns = ['index'])
# survey
# Since I dropped 3 rows and the index was removed as well, this was meant to reset the index

In [16]:
dfd2nn = df_data_2.iloc[1:]
dfd2n = dfd2nn.rename(columns = {'Lookup table for survey response field to airings network ticker symbol': 'Exit Survey', 'Unnamed: 1': 'Airings', 'Unnamed: 2': 'Source'})
# dfd2n
# Removing the rows that I did no need

In [17]:
dfd4l = pd.merge(left=survey, right=dfd2n, how='left', left_on='Source', right_on='Exit Survey')
# This was the left merge, I thought a left and right merge would give differing dataframes and this was helping me confirm that thought.

In [18]:
dfd4l1 = dfd4l.drop(['Source_x', 'Source_y'], axis=1)
# dfd4l1
# Getting rid of the merge columns that were not necessary

In [19]:
dfd4r = pd.merge(left=survey, right=dfd2n, how='right', left_on='Source', right_on='Exit Survey')
# This was the right merge, I thought a left and right merge would give differing dataframes and this was helping me confirm that thought.

In [20]:
dfd4r1 = dfd4r.drop(['Source_x', 'Source_y'], axis=1)
# dfd4r1
# # Getting rid of the merge columns that were not necessary

In [21]:
dfd1c.columns
dfd1c1 = dfd1c.drop(['Date/Time ET', 'Rotation', 'Creative', 'Spend', 'Lift', 'Program'], axis=1)
dfd1c2 = dfd1c1.rename(columns = {'Company': 'Ads Bought'})
# dfd1c2
# Creating the 3rd dataframe to allow for all dataframes to be combined and dropping columns that were not needed

In [22]:
dfd1nsc = pd.merge(left=dfd1c2, right=dfd1ns, how='left', left_on='Network', right_on='Network')
# dfd1nsc
# The first of two merges to combine the 3 tables

In [23]:
dfdcomb = pd.merge(left=dfd4r1, right=dfd1nsc, how='left', left_on='Airings', right_on='Network')
# dfdcomb.head()
# # The second of two merges to combine the 3 tables and ensuring that the merge worked

In [24]:
dfdcombo = dfdcomb.fillna(0)
# dfdcombo
# Since there was many NaN, this was fill all of them out to be 0s

In [25]:
dfdcombo['Conversion Rate'] = dfdcombo['Purchases in 2 Month Span']/dfdcombo['Lift']
dfdcombo = dfdcombo.replace([np.inf, -np.inf], np.nan)
dfdcombo = dfdcombo.fillna(0)
# dfdcombo.head()
# With conversion rates and some of them becoming inf since they were divided by 0, this was to make those infinite values equal to NaN and then converted to 0

In [26]:
dfdcombo['CPA'] = dfdcombo['Spend']/dfdcombo['Purchases in 2 Month Span']
dfdcombo = dfdcombo.fillna(0)
dfdcombo
# Since there was many NaN, this was fill all of them out to be 0s

,Purchases in 2 Month Span,Average Purchases/Month,Exit Survey,Airings,Ads Bought,Spend,Lift,Spend/Lift,Spend/Lift/Month,Conversion Rate,CPA
0,3.0,1.5,(blank),0,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
1,5.0,2.5,aapka_colors,0,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
2,1.0,0.5,baby_first,BABY,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
3,2.0,1.0,bloomberg,BLOM,53.0,4966.72,199.0,24.958392,12.479196,0.010050,2483.360000
4,1.0,0.5,cbs_sports,CBSS,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
5,14.0,7.0,cnbc,CNBC,14.0,6481.42,406.0,15.964089,7.982044,0.034483,462.958571
6,23.0,11.5,cnn,CNN,13.0,18114.35,1081.0,16.757031,8.378515,0.021277,787.580435
7,2.0,1.0,comedy_central,COM,7.0,7501.25,108.0,69.456019,34.728009,0.018519,3750.625000
8,5.0,2.5,dish_network,DISH,1354.0,3033.33,1092.0,2.777775,1.388887,0.004579,606.666000
9,2.0,1.0,diy,0,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
10,4.0,2.0,espn,ENN,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
11,13.0,6.5,fox_news,FNEW,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
12,2.0,1.0,fox_sports,FS1,10.0,4258.50,183.0,23.270492,11.635246,0.010929,2129.250000
13,2.0,1.0,fyi,FYI,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
14,6.0,3.0,hgtv,HGTV,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
15,15.0,7.5,msnbc,MSNB,31.0,11330.04,1123.0,10.089083,5.044541,0.013357,755.336000
16,3.0,1.5,nfl_network,NFLN,8.0,5412.80,200.0,27.064000,13.532000,0.015000,1804.266667
17,15.0,7.5,one_america_news_network,OANN,466.0,24935.00,2372.0,10.512226,5.256113,0.006324,1662.333333
18,1.0,0.5,oprah_winfrey_network,OWN,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
19,13.0,6.5,other,0,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
20,2.0,1.0,science,SCI,16.0,7993.18,132.0,60.554394,30.277197,0.015152,3996.590000
21,4.0,2.0,sony_entertainment_tv,0,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
22,3.0,1.5,spectrum_sports,SPECSPTS,14.0,5580.26,220.0,25.364818,12.682409,0.013636,1860.086667
23,4.0,2.0,star_plus,STARPLUS,540.0,11780.56,1783.0,6.607156,3.303578,0.002243,2945.140000
24,3.0,1.5,television_food_network,FOOD,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
25,5.0,2.5,the_history_channel,HIST,9.0,7278.30,330.0,22.055455,11.027727,0.015152,1455.660000
26,4.0,2.0,turner_network_tv,TNT,8.0,5125.50,179.0,28.634078,14.317039,0.022346,1281.375000
27,54.0,27.0,willow_tv,WILO,2816.0,47734.57,8214.0,5.811367,2.905684,0.006574,883.973519
28,5.0,2.5,zeetv,ZEETV,600.0,25604.25,1741.0,14.706634,7.353317,0.002872,5120.850000
29,0.0,0.0,cozi,COZI,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
30,0.0,0.0,Dateline,DATELINE,349.0,15288.11,862.0,17.735626,8.867813,0.000000,inf
31,0.0,0.0,lifetime_movie_network,LMN,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
32,0.0,0.0,0,0,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
33,0.0,0.0,spike,SPK,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
34,0.0,0.0,sundance_channel,SUND,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
35,0.0,0.0,the_cooking_channel,COOK,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
36,0.0,0.0,the_weather_channel,TWC,22.0,7718.71,211.0,36.581564,18.290782,0.000000,inf
37,0.0,0.0,Velocity,VEL,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
38,0.0,0.0,Investigation Discovery,ID,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
39,0.0,0.0,Viceland,VICE,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
40,0.0,0.0,Destination America,DEST,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
41,0.0,0.0,Golf,GOLF,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
42,0.0,0.0,Tennis,TENN,0.0,0.00,0.0,0.000000,0.000000,0.000000,0.000000
43,0.0,0.0,CNBC World,CNBCWORLD,113.0,1299.99,51.0,25.490000,12.745000,0.000000,inf

In [27]:
dfdsept = df_data_3.copy()
dfdsept.drop(dfdsept.columns[29:58], axis=1, inplace=True)
# Couldn't think of a way to automate this, but this was to create a dataframe with only the purchases in the month of September

In [28]:
progsept = dfdsept[dfdsept.columns[1:2]]
pgs = progsept.iloc[4:]
dfsept = dfdsept.sum(axis=1)
ess = dfsept.iloc[4:]
# Eliminating unncessary columns and aggregating the sums of puchases by network

In [29]:
pess = pd.concat([pgs, ess], axis = 1)
pess = pess.rename(columns = {'Unnamed: 1': 'Source', 0: 'Purchases in September'})
# Combining pess and ess to make a concise dataframe

In [30]:
prog_sept = pess.reset_index()
surveysept = prog_sept.drop(columns = ['index'])
# surveysept
# Resetting the index and making sure the table is what I want it to be

In [31]:
dfdoct = df_data_3.copy()
dfdoct.drop(dfdoct.columns[2:29], axis=1, inplace=True)
# Couldn't think of a way to automate this, but this was to create a dataframe with only the purchases in the month of October

In [32]:
progoct = dfdoct[dfdoct.columns[1:2]]
pgo = progoct.iloc[4:]
dfoct = dfdoct.sum(axis=1)
eso = dfoct.iloc[4:]
# Eliminating unncessary columns and aggregating the sums of puchases by network

In [33]:
peso = pd.concat([pgo, eso], axis = 1)
peso = peso.rename(columns = {'Unnamed: 1': 'Source', 0: 'Purchases in October'})
# Combining peso and eso to make a concise dataframe

In [34]:
prog_oct = peso.reset_index()
surveyoct = prog_oct.drop(columns = ['index'])
# surveyoct
# Resetting the index and making sure the table is what I want it to be

In [35]:
dfd1n = dfd1c.drop(columns = ['Date/Time ET', 'Rotation', 'Creative', 'Spend', 'Lift', 'Program'])
dfd1n = dfd1n.rename(columns = {'Company': 'Count by Network'})
dfd1n
# Making sure the count is correct and seeing the ad breakdown by Network

           Count by Network
Network
BLOM                     53
CNBC                     14
CNBCWORLD               113
CNN                      13
COM                       7
DATELINE                349
DISH                   1354
FS1                      10
HIST                      9
MSNB                     31
NFLN                      8
OANN                    466
SCI                      16
SPECSPTS                 14
STARPLUS                540
TNT                       8
TWC                      22
WILO                   2816
ZEETV                   600

In [36]:
dfd1sept = df_data_1.copy()
# Copying the database to ensure I do not mess with the master dataframe

In [37]:
dfd1septair = dfd1sept.iloc[3443:]
# Couldn't think of a way to automate this, but this was to create a dataframe with only the purchases in the month of September

In [38]:
prog_sa = dfd1septair.reset_index()
surveysa = prog_sa.drop(columns = ['index'])
# surveysa
# Resetting the index and making sure the table is what I want it to be

In [39]:
dfd1octair = dfd1sept.iloc[:3443]
# Couldn't think of a way to automate this, but this was to create a dataframe with only the purchases in the month of October

In [40]:
prog_oa = dfd1octair.reset_index()
surveyoa = prog_oa.drop(columns = ['index'])
# surveryoa
# Resetting the index and making sure the table is what I want it to be

In [41]:
dfd1nss = surveysa.groupby(['Network']).sum()
# dfd1nss
# Wanted to see how much spend and lift for each network in September

In [42]:
dfd1nos = surveyoa.groupby(['Network']).sum()
# dfd1nos
# Wanted to see how much spend and lift for each network in October

In [43]:
dfd1nss['Spend/Lift'] = dfd1nss['Spend']/dfd1nss['Lift']
# dfd1nss
# Creating the Spend/Lift for September

In [44]:
dfd1nos['Spend/Lift'] = dfd1nos['Spend']/dfd1nos['Lift']
# dfd1nos
# Creating the Spend/Lift for October

In [45]:
dfd1sc = surveysa.groupby(['Network']).count()
sac = dfd1sc.drop(['Date/Time ET', 'Rotation', 'Creative', 'Spend', 'Lift', 'Program'], axis=1)
sac1 = sac.rename(columns = {'Company': 'Ads Bought'})
# sac1
# Giving a baseline to calculate CPA for September

In [46]:
dfd1oc = surveyoa.groupby(['Network']).count()
oac = dfd1oc.drop(['Date/Time ET', 'Rotation', 'Creative', 'Spend', 'Lift', 'Program'], axis=1)
oac1 = oac.rename(columns = {'Company': 'Ads Bought'})
# oac1
# Giving a baseline to calculate CPA for October

In [47]:
dfdsr = pd.merge(left=surveysept, right=dfd2n, how='left', left_on='Source', right_on='Exit Survey')
dfdsr1 = dfdsr.drop(['Source_x', 'Source_y'], axis=1)
dfdseptcombo = dfdsr1.fillna(0)
# dfdseptcombo.head()
# Dropping merge columns and replacing NaN 0s

In [48]:
dfdor = pd.merge(left=surveyoct, right=dfd2n, how='left', left_on='Source', right_on='Exit Survey')
dfdor1 = dfdor.drop(['Source_x', 'Source_y'], axis=1)
dfdoctcombo = dfdor1.fillna(0)
# dfdoctcombo
# Dropping merge columns and replacing NaN 0s

In [49]:
dfdscomb = pd.merge(left=dfdseptcombo, right=dfd1nss, how='left', left_on='Airings', right_on='Network')
# dfdscomb.head()
# Merging final dataframe togeher

In [50]:
dfdscomb['Conversion Rate'] = dfdscomb['Purchases in September']/dfdscomb['Lift']
dfdscomb = dfdscomb.replace([np.inf, -np.inf], np.nan)
dfdscomb = dfdscomb.fillna(0)
# dfdscomb.head()
# Creating Conversion Rate column and replacing inf values with NaN and convering NaN values to 0

In [51]:
dfdscomb['CPA'] = dfdscomb['Spend']/dfdscomb['Purchases in September']
dfdseptf = dfdscomb.fillna(0)
dfdseptf
# Creating CPA column and replacing NaN value with 0

,Purchases in September,Exit Survey,Airings,Spend,Lift,Spend/Lift,Conversion Rate,CPA
0,0.0,(blank),0,0.00,0.0,0.000000,0.000000,0.000000
1,1.0,aapka_colors,0,0.00,0.0,0.000000,0.000000,0.000000
2,1.0,baby_first,BABY,0.00,0.0,0.000000,0.000000,0.000000
3,1.0,bloomberg,BLOM,4966.72,199.0,24.958392,0.005025,4966.720000
4,1.0,cbs_sports,CBSS,0.00,0.0,0.000000,0.000000,0.000000
5,5.0,cnbc,CNBC,6481.42,406.0,15.964089,0.012315,1296.284000
6,13.0,cnn,CNN,9159.60,507.0,18.066272,0.025641,704.584615
7,0.0,comedy_central,COM,0.00,0.0,0.000000,0.000000,0.000000
8,0.0,0,0,0.00,0.0,0.000000,0.000000,0.000000
9,4.0,dish_network,DISH,2513.09,976.0,2.574887,0.004098,628.272500
10,2.0,diy,0,0.00,0.0,0.000000,0.000000,0.000000
11,0.0,espn,ENN,0.00,0.0,0.000000,0.000000,0.000000
12,5.0,fox_news,FNEW,0.00,0.0,0.000000,0.000000,0.000000
13,1.0,fox_sports,FS1,4258.50,183.0,23.270492,0.005464,4258.500000
14,0.0,fyi,FYI,0.00,0.0,0.000000,0.000000,0.000000
15,6.0,hgtv,HGTV,0.00,0.0,0.000000,0.000000,0.000000
16,10.0,msnbc,MSNB,8091.15,701.0,11.542297,0.014265,809.115000
17,2.0,nfl_network,NFLN,5412.80,200.0,27.064000,0.010000,2706.400000
18,2.0,one_america_news_network,OANN,4966.80,648.0,7.664815,0.003086,2483.400000
19,0.0,oprah_winfrey_network,OWN,0.00,0.0,0.000000,0.000000,0.000000
20,5.0,other,0,0.00,0.0,0.000000,0.000000,0.000000
21,0.0,science,SCI,7993.18,132.0,60.554394,0.000000,inf
22,2.0,sony_entertainment_tv,0,0.00,0.0,0.000000,0.000000,0.000000
23,2.0,spectrum_sports,SPECSPTS,5580.26,220.0,25.364818,0.009091,2790.130000
24,2.0,star_plus,STARPLUS,3441.58,562.0,6.123808,0.003559,1720.790000
25,3.0,television_food_network,FOOD,0.00,0.0,0.000000,0.000000,0.000000
26,4.0,the_history_channel,HIST,5778.30,253.0,22.839130,0.015810,1444.575000
27,2.0,turner_network_tv,TNT,5125.50,179.0,28.634078,0.011173,2562.750000
28,27.0,willow_tv,WILO,19773.49,3138.0,6.301303,0.008604,732.351481
29,2.0,zeetv,ZEETV,10175.13,922.0,11.035933,0.002169,5087.565000

In [52]:
dfdocomb = pd.merge(left=dfdoctcombo, right=dfd1nos, how='left', left_on='Airings', right_on='Network')
# dfdocomb
# Merging final dataframe togeher

In [53]:
dfdocomb['Conversion Rate'] = dfdocomb['Purchases in October']/dfdocomb['Lift']
dfdocomb = dfdocomb.replace([np.inf, -np.inf], np.nan)
dfdocomb = dfdocomb.fillna(0)
# dfdocomb.head()
# Creating Conversion Rate column and replacing inf values with NaN and convering NaN values to 0

In [54]:
dfdocomb['CPA'] = dfdocomb['Spend']/dfdocomb['Purchases in October']
dfdoctf = dfdocomb.fillna(0)
dfdoctf
# Creating CPA column and replacing NaN value with 0

,Purchases in October,Exit Survey,Airings,Spend,Lift,Spend/Lift,Conversion Rate,CPA
0,3.0,(blank),0,0.00,0.0,0.000000,0.000000,0.000000
1,4.0,aapka_colors,0,0.00,0.0,0.000000,0.000000,0.000000
2,0.0,baby_first,BABY,0.00,0.0,0.000000,0.000000,0.000000
3,1.0,bloomberg,BLOM,0.00,0.0,0.000000,0.000000,0.000000
4,0.0,cbs_sports,CBSS,0.00,0.0,0.000000,0.000000,0.000000
5,9.0,cnbc,CNBC,0.00,0.0,0.000000,0.000000,0.000000
6,10.0,cnn,CNN,8954.75,574.0,15.600610,0.017422,895.475000
7,2.0,comedy_central,COM,7501.25,108.0,69.456019,0.018519,3750.625000
8,10.0,0,0,0.00,0.0,0.000000,0.000000,0.000000
9,1.0,dish_network,DISH,520.24,116.0,4.484828,0.008621,520.240000
10,0.0,diy,0,0.00,0.0,0.000000,0.000000,0.000000
11,4.0,espn,ENN,0.00,0.0,0.000000,0.000000,0.000000
12,8.0,fox_news,FNEW,0.00,0.0,0.000000,0.000000,0.000000
13,1.0,fox_sports,FS1,0.00,0.0,0.000000,0.000000,0.000000
14,2.0,fyi,FYI,0.00,0.0,0.000000,0.000000,0.000000
15,0.0,hgtv,HGTV,0.00,0.0,0.000000,0.000000,0.000000
16,5.0,msnbc,MSNB,3238.89,422.0,7.675095,0.011848,647.778000
17,1.0,nfl_network,NFLN,0.00,0.0,0.000000,0.000000,0.000000
18,13.0,one_america_news_network,OANN,19968.20,1724.0,11.582483,0.007541,1536.015385
19,1.0,oprah_winfrey_network,OWN,0.00,0.0,0.000000,0.000000,0.000000
20,8.0,other,0,0.00,0.0,0.000000,0.000000,0.000000
21,2.0,science,SCI,0.00,0.0,0.000000,0.000000,0.000000
22,2.0,sony_entertainment_tv,0,0.00,0.0,0.000000,0.000000,0.000000
23,1.0,spectrum_sports,SPECSPTS,0.00,0.0,0.000000,0.000000,0.000000
24,2.0,star_plus,STARPLUS,8338.98,1221.0,6.829631,0.001638,4169.490000
25,0.0,television_food_network,FOOD,0.00,0.0,0.000000,0.000000,0.000000
26,1.0,the_history_channel,HIST,1500.00,77.0,19.480519,0.012987,1500.000000
27,2.0,turner_network_tv,TNT,0.00,0.0,0.000000,0.000000,0.000000
28,27.0,willow_tv,WILO,27961.08,5076.0,5.508487,0.005319,1035.595556
29,3.0,zeetv,ZEETV,15429.12,819.0,18.838974,0.003663,5143.040000